* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.header {
  width: 100%;
  height: 15px;
  background: #6fc2e2;
}

.banner {
  background-image: url("../assets/img/inventory_background_full.jpg");
  background-size: cover;
  background-color: #8dddce;
  padding: 100px 0;
}

.homepageContainer {
  width: 100%;
  height: 40vh;
  max-width: 900px;
  margin: 0px auto;
}

.heroHeader h1 {
  font-size: 80px;
  color: white;
}

.heroHeader p {
  font-size: 20px;
  text-transform: uppercase;
  color: white;
}

.heroTagline {
  width: 50%;
  line-height: 1.5;
  margin-top: 2em;
  color: white;
}

.heroLink {
  display: flex; /* 👈 This puts child <a> elements in a row */
  gap: 1em; /* Optional: space between icons */
}

.heroLink a {
  display: flex; /* center icon inside */
  align-items: center;
  justify-content: center;

  margin-top: 80px;
  text-decoration: none;
  font-size: 25px;
  color: #6fc2e2;
  background-color: hsla(0, 0%, 0%, 0.5);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.heroLink a:hover {
  color: #3172ff;
  background-color: hsla(0, 0%, 100%, 1);
  transition: 0.3s all;
}

.homepageFeatures {
  display: flex;
}

.homepageFeature {
  padding: 10px 20px;
}

.homepageFeature .featureIcon i {
  size: 50px;
  width: 100px;
  height: 100px;
  background-color: #3172ff;
}
