@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Ubuntu, Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* LOGIN */

body#login {
  background-image: url("../assets/img/login_background.jpg");
  background-size: cover;
  background-color: #6fc2e2;
}

body#login main {
  margin-top: 2rem;
}

body#login main h1,
body#login main h2 {
  color: white;
}

body#login section {
  position: absolute;
}

.login-box {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #ffffff;
  padding: 8px;
  width: 50vmin;
  height: 40vmin;
}

body#login form {
  margin-top: 16px;
}

body#login input {
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 8px;
  height: 20%;
  margin-top: 1rem;
}

body#login input:focus {
  outline: none;
  border-color: #8dddce;
}

body#login button {
  border: none;
  background-color: #6fc2e2;
  color: white;
  padding: 8px 16px;
  margin-top: 0.5em;
  border-radius: 2px;
  font-weight: 300;
}

body#login button:hover {
  cursor: pointer;
}

body#login .input-form:not(button) {
  display: flex;
  flex-direction: column;
  align-items: center; /* centers the label+input pair in its parent */
  margin: 16px auto;
  width: 80%; /* relative to parent container (main or login box) */
  max-width: 200px; /* limits width so it doesn’t get too wide */
}

body#login .input-form:not(button) label {
  align-self: flex-start; /* label aligns with input */
  text-align: left;
  width: 100%;
}

body#login .input-form:not(button) input {
  width: 100%; /* fill the container width */
}

/* DASHBOARD STYLES */

.header {
  width: 100%;
  background: #6fc2e2;
  padding: 15px 0;
  text-align: right;
}

.header a {
  color: white;
  text-decoration: none;
  padding: 4px 8px;
  border: 2px solid #6fc2e2;
  border-bottom: 2px solid white;
}

.header a:hover {
  border-radius: 5px;
  border: 2px solid white;
}

.banner {
  background-image: url("../assets/img/inventory_background_full.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-color: #8dddce;
  padding-top: 100px;
  padding-bottom: 100px;
  height: 70vh;
}

.homepageContainer {
  width: 100%;
  max-width: 900px;
  margin: 0px auto;
}

.banner > .homepageContainer {
  height: 50vh;
}

.heroHeader h1 {
  font-size: 80px;
  color: white;
}

.heroHeader h2 {
  font-weight: 400;
  text-transform: uppercase;
  color: white;
}

.heroTagline {
  width: 50%;
  line-height: 1.5;
  margin-top: 2em;
  color: white;
}

.heroLink {
  display: flex; /* 👈 This puts child <a> elements in a row */
  gap: 1em; /* Optional: space between icons */
}

.heroLink a {
  display: flex; /* center icon inside */
  align-items: center;
  justify-content: center;

  margin-top: 80px;
  text-decoration: none;
  font-size: 25px;
  color: #6fc2e2;
  background-color: hsla(0, 0%, 0%, 0.5);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.heroLink a:hover {
  color: #3172ff;
  background-color: hsla(0, 0%, 100%, 1);
  transition: 0.3s all;
}

.homepageFeatures {
  display: flex;
  flex-direction: row;
  margin: 1.5rem 0;
}

.homepageFeature {
  padding: 10px 20px;
  text-align: center;
  border-top: 1px solid white;
}

.homepageFeature:hover {
  border-top: 1px solid #3172ff;
}

.homepageFeature i {
  height: 75px;
  width: 75px;
  display: inline-block;
  font-size: 2em;
  background-color: #3172ff;
  color: #fff;
  align-content: center;
  border-radius: 50%;
  margin-bottom: 20px;
}

.homepageFeature h3 {
  margin-bottom: 24px;
}

.homepageFeature p {
  color: #6d6d6d;
}

.homepageNotified {
  background-color: #ddd;
  padding: 3rem;
}

.homepageNotifiedContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.emailForm {
  width: 450px;
}

.emailForm h3 {
  margin-bottom: 20px;
}

.emailForm p {
  line-height: 1.5;
  color: #6d6d6d;
  margin-bottom: 15px;
  text-align: justify;
}

.formContainer {
  width: 75%;
  position: relative;
  border-radius: 80;
}

.formContainer input {
  width: 100%;
  padding: 12px 8px;
  border: none;
  border-radius: 8px;
}

.formContainer input:focus {
  outline: none;
}

.formContainer button {
  border: none;
  position: absolute;
  background-color: #3172ff;
  color: white;
  font-size: 16px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  right: 0;
  height: 100%;
  width: 5rem;
}

.contact {
  margin: 3rem 0;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.contactContainer h3 {
  font-size: 26px;
}

.contactContainer p {
  color: #a4a4a4;
}

.contactLink {
  display: flex;
  gap: 0.5em;
}

.contactLink a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a4a4a4;
  font-size: 1em;
  width: 32px;
  height: 32px;
  text-decoration: none;
  color: white;
  border-radius: 50%;
  transition: 0.3s all;
}

.contactLink a:hover {
  background-color: #3172ff;
}

footer {
  background-color: #ddd;
  padding: 3rem;
}

footer > .homepageContainer {
  display: flex;
  justify-content: center;
  gap: 3em;
}

footer > .homepageContainer a {
  text-decoration: none;
  color: #6d6d6d;
}

footer > .homepageContainer a:hover {
  color: #3172ff;
  font-weight: 550;
}

/* ADMIN STYLES */
#dashboardMainContainer {
  display: flex;
  flex-direction: row;
}

#sidebar,
#dashboardContentContainer {
  transition: all 0.3s ease;
}

.sidebar {
  width: 25%;
  height: 100vh;
  background-color: #1f2a40;
  color: white;
}
.sidebarLogo {
  font-size: 70px;
  color: #3172ff;
  text-align: center;
}

.sidebarUser {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 1rem 0;
}

.sidebarUser img {
  width: 70px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #90b3ff;
}

.sidebarUser span {
  font-size: 2em;
}

.sidebarMenus {
  border-top: 2px solid #3172ff;
}

.sidebarList li {
  padding: 1em 1em;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
}

.sidebarMenus li a {
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
  overflow: hidden;
  transition: all 0.3s ease;
  text-decoration: none;
  color: white;
}

.sidebarList li:hover {
  background-color: #3172ff;
  transition: 0.3s all;
}

.sidebarList li:hover a {
  color: white;
}

.sidebarList .active {
  background-color: #3172ff;
}
.sidebarList li a i {
  flex-shrink: 0;
  font-size: 18px;
}

/* Hide the span when sidebar is shrunk */
.sidebar.shrink .sidebarList li a span {
  display: none;
}

.sidebar.shrink .sidebarList li a {
  justify-content: center;
  padding: 5px;
}

.dashboardContentContainer {
  width: 75%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #eaf0ff;
}

.dashboardTopNav {
  background-color: white;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.dashboardTopNav a {
  color: #a4a4a4;
  font-size: 18px;
  text-decoration: none;
}

.dashboardTopNav a:hover {
  color: #3172ff;
}

.dashboardContent {
  flex: 1;
  padding: 14px;
}

.contentMain {
  background: #fff;
  /* max-height: 900px; */
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.errorMessage p {
  background: #fff;
  text-align: center;
  color: red;
  font-size: 20px;
  padding: 11px;
}

/* * users.php */

.userFormContainer {
  padding-top: 3rem;
}

form::after {
  content: "";
  clear: both;
  display: block;
}

.appForm {
  border: 1px solid #bebebe;
  border-radius: 6px;
  background: #f4f4f4;
  width: 90%;
  margin: auto;
  padding: 1rem 1rem;
  font-size: 18px;
}

.appForm .appFormDiv {
  margin-bottom: 1rem;
}

.appForm label {
  text-transform: uppercase;
  font-weight: 500;
}

.appForm .formInput {
  width: 100%;
  height: 33px;
  border: 1px solid #bebebe;
  border-radius: 3px;
}

.appForm .submitBtn {
  text-align: right;
  float: right;
}

.appForm button {
  font-size: 18px;
  border: 1px solid #1053e4;
  background-color: #3172ff;
  border-radius: 3px;
  color: #fff;
  padding: 0.75em;
  float: right;
}

.appForm button:hover {
  cursor: pointer;
}

.appForm button i {
  margin-right: 5px;
  font-size: 12px;
}

.responseMessage_success {
  text-align: center;
  margin-top: 1.5rem;
  background: #c5e2c5;
  padding: 1rem 0;
  font-weight: 300;
  color: #487e48;
}

.responseMessage_error {
  text-align: center;
  margin-top: 1.5rem;
  background: #e2c5c5;
  padding: 1rem 0;
  font-weight: 300;
  color: #7e4848;
}

.contentMain .row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 4px;
}

.contentMain .row .col {
  padding: 0 10px;
}

.col-5 {
  flex: 2;
}
.col-7 {
  flex: 3;
}

.col .section_header {
  font-size: 24px;
  color: #1053e4;
  border-bottom: 1px solid #1053e4;
  padding: 10px;
  border-left: 4px solid #1053e4;
}

.col h1 i {
  padding-right: 4px;
}

table {
  width: 100%;
}

.users table,
th,
td {
  border: 1px solid #cacaca;
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 3rem;
}

table th {
  font-size: 14px;
  font-weight: 600;
  padding: 4px 6px;
  color: #4a4a4a;
}

table td {
  font-size: 12px;
  padding: 4px 6px;
}

table tr:nth-child(even) {
  background-color: #f3f3f3;
}

.userCount {
  text-transform: uppercase;
  color: #1053e4;
  padding-top: 8px;
  text-align: right;
  font-weight: 500;
}

.section_content .users a {
  color: #1f2a40;
}
